@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root,
body {
  min-height: 100%;
  height: 100vh;
}
:root {
  --panel-gap: 8px;
  --text-color: #fff;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-elevated-base: #242424;
  --background-noise: url("../../public/bg.svg");
  --column-count: 5;
  --column-width: 196.6px;
  --grid-gap: 24px;
  --min-container-width: 372px;
}
.block {
  color: var(--text-color);
  background-color: #000;
  display: grid;
  gap: var(--panel-gap);
  grid-template-rows: 1fr auto;
  @apply grid-cols-1 md:grid-cols-[auto_1fr];
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  padding: var(--panel-gap);
}
.leftSideBlock {
  @apply md:w-[420px] hidden md:flex w-[360px];
  height: 100%;
  gap: var(--panel-gap);
  flex-direction: column;
}

.leftSideBlock > div:first-child,
.leftSideBlock > div:nth-child(2) {
  border-radius: var(--panel-gap);
  background: var(--background-base);
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.libraryLink {
  min-block-size: 40px;
}
.plusIcon:hover {
  background-color: var(--background-highlight);
  -webkit-transform: scale(1);
  transform: scale(1);
}
aside {
  background-color: var(--background-elevated-base);
}
.rightSideBlock {
  overflow: hidden;
  background: var(--background-base);
}
.bottomBlock {
  background-image: linear-gradient(90deg, #af2896, #509bf5);
}
.bgMain {
  height: 332px;
  margin-top: -64px;
  position: absolute;

  width: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 0,
      var(--background-base) 100%
    ),
    var(--background-noise);
  background-color: rgb(83, 83, 83);
}
header {
  backdrop-filter: blur(1px);
  background-color: --background-base;
}

.MusicContainer {
  @apply flex px-6;
  flex-flow: row wrap;
  flex: 1 1 auto;
}
.musicSection {
  overflow: hidden;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
  grid-auto-rows: 0;
  grid-template-rows: 1fr;
}
@media (min-width: 768px) {
  :root {
    --column-count: 2;
  }
}
@media (min-width: 975px) {
  :root {
    --column-count: 3;
  }
}
@media (min-width: 1175px) {
  :root {
    --column-count: 4;
  }
}

@media (min-width: 1475px) {
  :root {
    --column-count: 5;
  }
}
@media (min-width: 1675px) {
  :root {
    --column-count: 6;
  }
}

@media (min-width: 1800px) {
  :root {
    --column-count: 7;
  }
}
