@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root,
body {
  height: 100%;
}
:root {
  --panel-gap: 8px;
  --text-color: #fff;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
}
.block {
  color: var(--text-color);
  background-color: #000;
  display: grid;
  gap: var(--panel-gap);
  grid-template-areas:
    "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  padding: var(--panel-gap);
}
.leftSideBlock {
  width: 420px;
  height: 100%;
  grid-area: left-sidebar;
  display: flex;
  gap: var(--panel-gap);
  flex-direction: column;
}
.rightSideBlock {
  grid-area: main-view/main-view/main-view/right-sidebar;
}
.leftSideBlock > div:first-child,
.leftSideBlock > div:nth-child(2) {
  border-radius: var(--panel-gap);
  background: var(--background-base);
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.libraryLink {
  min-block-size: 40px;
}
.sss:hover {
  background-color: var(--background-highlight);
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
  
}
