@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root,
body {
  height: 100%;
}
:root {
  --panel-gap: 8px;
  --text-color: #fff;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-elevated-base: #242424;
}
.block {
  color: var(--text-color);
  background-color: #000;
  display: grid;
  gap: var(--panel-gap);
  grid-template-rows: 1fr auto;
  @apply grid-cols-1 md:grid-cols-[auto_1fr];
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
  padding: var(--panel-gap);
}
.leftSideBlock {
  @apply md:w-[360px] hidden md:flex xl:w-[420px];
  height: 100%;
  gap: var(--panel-gap);
  flex-direction: column;
}

.leftSideBlock > div:first-child,
.leftSideBlock > div:nth-child(2) {
  border-radius: var(--panel-gap);
  background: var(--background-base);
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.libraryLink {
  min-block-size: 40px;
}
.plusIcon:hover {
  background-color: var(--background-highlight);
  -webkit-transform: scale(1);
  transform: scale(1);
}
aside {
  background-color: var(--background-elevated-base);
}
.rightSideBlock {
  background: var(--background-base);
}
